# Ignore all generated project files in tests
tests/**/*.vcxproj
tests/**/*.vcxproj.filters
tests/**/*.vcxproj.user
tests/**/debug/
tests/**/.vs
tests/**/release

Plugins/**/Debug
Plugins/**/Release
Plugins/**/x64
Plugins/**/*.vcxproj.user

x64/
KactusAPI/x64/
IPXACTmodels/x64/
IPXACTmodels/GeneratedFiles
PythonAPI/x64/
GeneratedFiles/
.vs

*.obj
*.tlog