# Ignore all generated project files in tests
tests/**/*.vcxproj
tests/**/*.vcxproj.filters
tests/**/*.vcxproj.user

tests/**/release

.vs/
**/.vs/
GeneratedFiles/
**/generatedFiles
**/Debug
**/debug

executable/Plugins
Plugins/**/*.vcxproj.user