[Desktop Entry]
Version=1.0
Type=Application
Name=Kactus2
Comment=The most user-friendly IP-XACT based EDA tool ever!
TryExec=kactus2
Exec=kactus2
Icon=/usr/share/pixmaps/kactus2.png
Terminal=false
StartupNotify=true
Categories=Development;
